<div class="col-12 col-md-6 col-lg-3 mb-8">
  <div class="mb-4">
    <%= link_to service_path(service.id) do %>
      <div class="img-zoom">
        <% if service.cover_image.attached? %>
          <%= image_tag url_for(service.cover_image), alt: service.title, class: "rounded w-100 fixed-dimension-img" %>
        <% else %>
          <div class="fixed-dimension-img placeholder"></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h4 class="h5">
      <%= link_to service.title.humanize, service_path(service), class: "text-inherit" %>
    </h4>
    <p><%= truncate(strip_tags(service.content), length: 100) %></p>
  </div>
</div>