<div class="container">
  <div class="sub-header overlay mt-5">
    <h1><%= @service.title.humanize %></h1>
  </div>

  <div class="row">
    <!-- Cover Image -->
    <div class="col-md-8 mb-8">
      <%= image_tag url_for(@service.cover_image), alt: @service.title, class: "img-fluid rounded w-100" if @service.cover_image.attached? %>
    </div>

    <!-- Contact Us Block -->
    <div class="col-md-4 mb-8">
      <%= render partial: "shared/contact_us" %>
    </div>

  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="new-detail-warp">
            <div class="content-detail content-new-detail">
              <%= raw @service.content %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>