<%= render @service %>

<div>
  <%= link_to "Edit this service", edit_service_path(@service) %> |
  <%= link_to "Back to service", service_path %>

  <%= button_to "Destroy this service", @service, method: :delete %>
</div>

