<h1>Chats</h1>
<%= link_to 'New Chat', new_dashboard_chat_path %>

<ul>
  <% @chats.each do |chat| %>
    <li>
      <%= link_to "Chat with #{chat.seller.name}", dashboard_chat_path(chat) %>
    </li>
  <% end %>
</ul>