<main>
 <%#  <div class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#!">Home</a></li>
              <li class="breadcrumb-item"><a href="#!">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Freshcart Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div> %>
  <!-- section -->
  <section class="mt-8">
    <div class="container">
      <div class="row">
        <!-- logo -->
        <div class="col-12">
          <h1 class="fw-bold">Live Stock Blogs</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <section class="mb-lg-14 mb-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
            <%= render blog %>
          <% end %>
        <% else %>
          <div class="container">
            <div class="news-list-warp">
              <h1 class="text-align-center mx-auto">
                No blogs available!
              </h1>
            </div>
          </div>
        <% end %>

        <div class="col-12">
          <!-- pagination-->
          <%= paginate @blogs %>
        </div>
      </div>
    </div>
  </section>
</main>
