<!-- Location Modal -->
<div class="modal fade" id="locationSecondModal" tabindex="-1" aria-labelledby="locationSecondModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mb-5 d-flex align-items-center justify-content-between">
          <h1 class="modal-title fs-5" id="locationSecondModalLabel">Add Your Location</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="w-100">
          <form action="#">
            <div class="input-group">
              <input type="text" aria-label="Last name" class="form-control w-45" placeholder="Search for area, location more.." />
              <button class="input-group-text bg-transparent" type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </button>
            </div>
          </form>
        </div>
        <div class="my-10 text-center">
          <img src="/assets/theme/svg-graphics/delivery-boy.svg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
