<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header bg-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register via Phone Number</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-12">
            <div class="py-6">
              <h4 class="fs-6 mb-4">Enter your phone number to Signup or Register</h4>
              <form>
                <div class="input-phone mb-2">
                  <input type="tel" maxlength="10" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Next</button>
                </div>
              </form>

              <div class="mt-4">
                <small>
                  <a href="#">Terms of Service</a>
                  <a href="#" class="ms-3">Privacy Policy</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
