<!-- main wrapper -->
<section class="container">
  <!-- row -->
  <div class="row mb-8">
    <div class="col-md-12">
      <!-- card -->
      <div
        class="card bg-light border-0 rounded-4"
        style="background-image: url(<%= asset_path('banner/b1.jpg') %>); background-repeat: no-repeat; background-size: cover; background-position: right">
        <div class="card-body p-lg-12">
          <h1>Welcome back! Livestock</h1>
          <p>Livestock is simple & clean design for developer and designer.</p>
          <a href="#" class="btn btn-primary">Create Product</a>
        </div>
      </div>
    </div>
  </div>
  <!-- table -->
  <div class="table-responsive-xl mb-6 mb-lg-0">
    <div class="row flex-nowrap pb-3 pb-lg-0">
      <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
          <!-- card body -->
          <div class="card-body p-6">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center mb-6">
              <div>
                <h4 class="mb-0 fs-5">Categories</h4>
              </div>
              <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                <i class="bi bi-currency-dollar fs-5"></i>
              </div>
            </div>
            <!-- project number -->
            <div class="lh-1">
              <h1 class="mb-2 fw-bold fs-2"><%= Category.count %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
          <!-- card body -->
          <div class="card-body p-6">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center mb-6">
              <div>
                <h4 class="mb-0 fs-5">Ads</h4>
              </div>
              <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                <i class="bi bi-cart fs-5"></i>
              </div>
            </div>
            <!-- project number -->
            <div class="lh-1">
              <h1 class="mb-2 fw-bold fs-2"><%= Product.count %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
          <!-- card body -->
          <div class="card-body p-6">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center mb-6">
              <div>
                <h4 class="mb-0 fs-5">Subscriptions</h4>
              </div>
              <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                <i class="bi bi-people fs-5"></i>
              </div>
            </div>
            <!-- project number -->
            <div class="lh-1">
              <h1 class="mb-2 fw-bold fs-2"><%= PaidAd.count %></h1>
              <span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
