<div class="contact-us-block p-4">
  <h3>Contact Us</h3>
  <p>If you have any questions or need further information, please feel free to contact us:</p>
  <p>
    <i class="fa fa-phone"></i> 
    <a href="#">
      <strong>Phone</strong> 
    </a><br>
    
    <i class="fa-brands fa-whatsapp"></i>
    <a href="#" target="_blank">
      <strong>WhatsApp</strong> 
    </a>
  </p>
</div>