<div class="my-8">
  <div class="mb-5">
    <!-- text -->
    <%= @product.long_description %>
  </div>
  <!-- content -->
  <div class="mb-5">
    <h5 class="mb-1">Seller Name</h5>
    <p class="mb-0"><%= @product.user_name %></p>
  </div>
  <div class="mb-5">
    <h5 class="mb-1">Verified</h5>
    <p class="mb-0"><%= @product.verified ? "Yes" : "No" %></p>
  </div>
</div>