<%= render @product %>

<div>
  <%= link_to "Edit this ad", edit_users_product_path(@product) if @product.user == current_user %> |
  <%= link_to "Back to ads", dashboard_products_path %>

  <%= button_to "Destroy this ad", users_product_path, method: :delete if @product.user == current_user %>
</div>
