<div id="<%= dom_id paid_ad %>">
  <p>
    <strong>User:</strong>
    <%= paid_ad.user_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= paid_ad.quantity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= paid_ad.status %>
  </p>

</div>
