<main>
  <!-- section -->
  <section class="mt-lg-14 mt-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="offset-lg-1 col-lg-10 col-12">
          <div class="row align-items-center mb-10">
            <div class="col-md-6">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h1 class="mb-6">About Us:</h1>
                <p class="mb-0 lead">Welcome to Livestock.com, Pakistan's leading online marketplace for buying and selling livestock. We aim to transform traditional livestock trading by connecting farmers, breeders, and enthusiasts nationwide with the ease of modern technology. Our secure and transparent platform facilitates seamless trading of animals like cows, goats, buffaloes, and sheep, supporting Pakistan's economy and rural communities.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-md-6">
              <div class="me-6">
                <!-- img -->
                <img src="<%= asset_path('theme/about/about-img.jpeg') %>" alt="" class="img-fluid rounded" />
              </div>
            </div>
          </div>

          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">What We Offer:</h3>
                <p class="mb-0 lead">Whether you're looking for high-quality dairy cattle, sacrificial animals for Eid, or healthy breeding stock, we've got you covered. Our intuitive interface allows users to easily browse, list, and negotiate deals from the comfort of their homes. We prioritize trust and transparency by encouraging sellers to provide detailed information and verified animal health records. Livestock.com connects buyers and sellers from every corner of Pakistan, ensuring accessibility and inclusivity for all.</p>
              </div>
            </div>
          </div>


          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">Our Vision:</h3>
                <p class="mb-0 lead">To be the go-to platform for livestock trading in Pakistan, enabling a future where livestock commerce is efficient, transparent, and beneficial for everyone involved.
                  Join us in transforming the way Pakistan buys and sells livestock. Together, we can build a thriving and connected livestock community!</p>
              </div>
            </div>
          </div>

          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">What We Offer:</h3>
                <p class="mb-0 lead">Whether you're looking for high-quality dairy cattle, sacrificial animals for Eid, or healthy breeding stock, we've got you covered. Our intuitive interface allows users to easily browse, list, and negotiate deals from the comfort of their homes. We prioritize trust and transparency by encouraging sellers to provide detailed information and verified animal health records. Livestock.com connects buyers and sellers from every corner of Pakistan, ensuring accessibility and inclusivity for all.</p>
              </div>
            </div>
          </div>

          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">Online Buying and Selling of Animals:</h3>
                <p class="mb-0 lead">Livestock.com offers a seamless platform for buying and selling animals across Pakistan. Connect with trusted sellers, explore verified listings, and find the perfect livestock for your needs—all from the comfort of your home.</p>
              </div>
            </div>
          </div>

          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">Animals for Eid-Ul-Adha:</h3>
                <p class="mb-0 lead">Prepare for Eid-Ul-Adha with ease by browsing our extensive range of sacrificial animals, including goats, cows, and camels. Livestock.com ensures quality and convenience, making your Qurbani preparations hassle-free.</p>
              </div>
            </div>
          </div>

          <div class="row align-items-center mb-6">
            <div class="col-md-12">
              <!-- text -->
              <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                <h3 class="align-items-center d-flex mb-0 h4">Secure Payment with Guarantee Feature:</h3>
                <p class="mb-0 lead">Trade with confidence using our secure payment system, designed to protect both buyers and sellers. Our guarantee feature ensures transparency and trust, so every transaction is worry-free.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- section -->
  <section class="bg-success py-14">
    <div class="container">
      <div class="row">
        <!-- col -->
        <div class="offset-lg-1 col-lg-10">
          <div class="row">
            <!-- col -->
            <div class="col-xl-12 col-md-12">
              <div class="text-white me-8 mb-12">
                <!-- text -->
                <h2 class="text-white mb-4">Trusted by retailers. Loved by customers.</h2>
                <p>We give everyone access to the food they love and more time to enjoy it together.</p>
              </div>
            </div>
            <div class="row row-cols-2 row-cols-md-4">
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">500k</h3>
                <span class="fs-6 text-white">Shoppers</span>
              </div>
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">4,500+</h3>
                <span class="fs-6 text-white">Cities</span>
              </div>
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">40k+</h3>
                <span class="fs-6 text-white">Stores</span>
              </div>
              <!-- col -->
              <div class="col mb-4 mb-md-0">
                <h3 class="display-5 fw-bold text-white mb-0">650+</h3>
                <span class="fs-6 text-white">Retail Brands</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>