<div class="my-lg-14 my-8">
  <div class="container">
    <!-- row -->
    <div class="table-responsive-xxl pb-6 pb-lg-0">
      <div class="row g-4 flex-nowrap">
        <% @blogs.each do |blog| %>
          <div class="col-auto">
            <div class="card border-0 blog-card">
              <div class="img-zoom">
                <%= image_tag url_for(blog.cover_image), alt: blog.title, class: "blog-card-image" if blog.cover_image.present? %>
              </div>
              <div class="position-absolute bottom-0 py-3 px-4 blog-card-overlay">
                <%= link_to blog_path(blog.slug), class: "text-white d-flex align-items-center btn-transition" do %>
                  <span class="blog-card-title"><%= blog.title %></span>
                  <i class="feather-icon icon-chevron-right ms-2 fs-5"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>