<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row align-items-center mb-6">
      <div class="col-10">
        <div>
          <!-- heading    -->
          <h3 class="align-items-center d-flex mb-0 h4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-layers text-primary">
              <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
              <polyline points="2 17 12 22 22 17"></polyline>
              <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            <span class="ms-3">Shop by Categories</span>
          </h3>
        </div>
      </div>
      <div class="col-2">
        <div class="slider-arrow slider-8-columns-arrow" id="slider-8-columns-arrows"></div>
      </div>
    </div>
    <div class="row g-6">
      <div class="col-12">
        <div class="position-relative">
          <div class="slider-8-columns ctegories-slider" id="slider-8-columns">
            <!-- item -->
            <% @categories.each do |category| %>
              <div class="item">
                <!-- item -->
                <a href="<%= products_path(category_id: category.id) %>" class="text-decoration-none text-inherit">
                  <!-- card -->
                  <div class="card mb-3 card-lift">
                    <div class="card-body text-center py-6 text-center">
                      <div class="my-5 category-image">
                        <%= image_tag category.image.attached? ? url_for(category.image) : 'theme/png/no-image.png', alt: category.name, class: 'w-100 h-100' %>
                      </div>
                      <!-- text -->
                      <div><%= category.name %></div>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>